@model IEnumerable<MyPetShop.Models.Pet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@{ var i = 0; }
@{ var j = 0; }

<div class="row">
    <div class="span12">
        <h4 class="title">
            <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
            <span class="pull-right">
                <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
            </span>
        </h4>
        <div id="myCarousel" class="myCarousel carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <ul class="thumbnails">                           
                        @foreach (var pet in Model)
                        {
                            if (i <= 3)
                            {
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p><a href="product_detail.html"><img src="~/Images/corgi_1.png" alt=""/></a>
                                        </p>
                                        <a href="product_detail.html" class="title">@pet.Name</a><br/>
                                        <a href="products.html" class="">AGE: @pet.Age years</a>
                                        <p class="price">$@pet.Price</p>
                                    </div>
                                </li>
                            }
                            else
                            {
                                break;
                            }
                            i ++;
                        }                  
                    </ul>
                </div>
                <div class="item">
                    @{ i = 0; }
                    <ul class="thumbnails">
                        @foreach (var pet in Model)
                        {
                            if (i >= 4 && i <= 7)
                            {
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p>
                                            <a href="product_detail.html"><img src="~/Images/corgi_1.png" alt=""/></a>
                                        </p>
                                        <a href="product_detail.html" class="title">@pet.Name</a><br/>
                                        <a href="products.html" class="">AGE: @pet.Age years</a>
                                        <p class="price">$@pet.Price</p>
                                    </div>
                                </li>
                            }

                            i++;

                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="span12">
        <h4 class="title">
            <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
            <span class="pull-right">
                <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
            </span>
        </h4>
        <div id="myCarousel-2" class="myCarousel carousel slide">
            <div class="carousel-inner">
                <div class="active item">
                    <ul class="thumbnails">
                        @foreach (var pet in Model)
                        {
                            if (j <= 3)
                            {
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p>
                                            <a href="product_detail.html"><img src="~/Images/british_shorthair_1.png" alt="" /></a>
                                        </p>
                                        <a href="product_detail.html" class="title">@pet.Name</a><br />
                                        <a href="products.html" class="">AGE: @pet.Age years</a>
                                        <p class="price">$@pet.Price</p>
                                    </div>
                                </li>
                            }
                            else
                            {
                                break;
                            }
                            j++;

                        }
                        
                    </ul>
                </div>
                <div class="item">
                    @{ j = 0; }
                    <ul class="thumbnails">
                        @foreach (var pet in Model)
                        {

                            if (j >= 4 && j <= 7)
                            {
                                <li class="span3">
                                    <div class="product-box">
                                        <span class="sale_tag"></span>
                                        <p>
                                            <a href="product_detail.html"><img src="~/Images/british_shorthair_1.png" alt=""/></a>
                                        </p>
                                        <a href="product_detail.html" class="title">@pet.Name</a><br/>
                                        <a href="products.html" class="">AGE: @pet.Age years</a>
                                        <p class="price">$@pet.Price</p>
                                    </div>
                                </li>
                            }
                            j++;
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

