@using MyPetShop.Models
@model MyPetShop.ViewModels.PetViewModel

<style>
    .product-box img {
        width: auto;
        height: 320px;
    }
</style>

@{
    var list = Model.Pets.ToList();
}


<div class="carousel-inner">
    <div class="active item">
        <ul class="thumbnails listing-products">
            @{
                var image1 = "";
                foreach (var petImage in Model.PetImages)
                {
                    if (petImage.PetId == list[1].Id)
                    {
                        image1 = petImage.Uri.ToString();
                        break;
                    }
                }

                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <img alt="" src="@image1"><br />
                        <a href="@Url.Action("PetDetails", "Pet", new { id = list[1].Id})" class="title">@list[1].Name</a><br />
                        <a href="#" class="category">AGE: @list[1].Age years</a>
                        <p class="price">$@list[1].Price</p>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="item">
        <ul class="thumbnails listing-products">
            @{
                var image2 = "";
                foreach (var petImage in Model.PetImages)
                {
                    if (petImage.PetId == list[0].Id)
                    {
                        image2 = petImage.Uri.ToString();
                        break;
                    }
                }

                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <img alt="" src="@image2"><br />
                        <a href="@Url.Action("PetDetails", "Pet", new { id = list[1].Id})" class="title">@list[0].Name</a><br />
                        <a href="#" class="category">AGE: @list[0].Age years</a>
                        <p class="price">$@list[0].Price</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

