@model MyPetShop.ViewModels.PetViewModel
@{ var i = 0; }
<style>
    .product-box img {
        width: 255px;
        height: 320px;
    }
    .product-box {
        width: 255px;
    }

</style>

<div class="carousel-inner">
    <div class="active item">
        <ul class="thumbnails listing-products">
            @foreach (var pet in Model.Pets)
            {
                var image = "";
                foreach (var petImage in Model.PetImages)
                {
                    if (petImage.PetId == pet.Id)
                    {
                        image = petImage.Uri.ToString();
                        break;
                    }
                }
                if (i < 1)
                {
                    <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <img alt="" src="@image"><br />
                        <a href="product_detail.html" class="title">@pet.Name</a><br />
                        <a href="#" class="category">AGE: @pet.Age years</a>
                        <p class="price">$@pet.Price</p>
                    </div>
                    </li>
                }
                else
                {
                    break;
                }
                i++;
            }
        </ul>
    </div>
    <div class="item">
        @{ i = 0; }
        <ul class="thumbnails listing-products">
            @foreach (var pet in Model.Pets)
            {
                var image = "";
                foreach (var petImage in Model.PetImages)
                {
                    if (petImage.PetId == pet.Id)
                    {
                        image = petImage.Uri.ToString();
                        break;
                    }
                }
                if (i == 1)
                {
                 <li class="span3">
                    <div class="product-box">
                        <img alt="" src="@image"><br />
                        <a href="product_detail.html" class="title">@pet.Name</a><br />
                        <a href="#" class="category">AGE: @pet.Age years</a>
                        <p class="price">$@pet.Price</p>
                    </div>
                </li>
                }
                i++;

            }
        </ul>
    </div>
</div>
