@model MyPetShop.ViewModels.PetViewModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@foreach (var cate in Model.CategoryPets)
{
    <h2>@cate.Name</h2>
    break;
}

<style>
    .product-box img {
        width: 220px;
        height: 320px;
    }
    .product-box {
        width: 212px;
    }
</style>

<section class="main-content">

    <div class="row">
        <div class="span9">
            <ul class="thumbnails listing-products">
                @foreach (var pet in Model.Pets)
                {
                    var image = "";
                    foreach (var petImage in Model.PetImages)
                    {
                        if (petImage.PetId == pet.Id)
                        {
                            image = petImage.Uri.ToString();
                            break;
                        }
                    }

                    <li class="span3">
                        <div class="product-box">
                            <span class="sale_tag"></span>
                            <p>
                                <a href="@Url.Action("PetDetails", "Pet", new {id = pet.Id})"><img src="@image" alt="" /></a>
                            </p>
                            <a href="product_detail.html" class="title">@pet.Name</a><br />
                            <a href="@Url.Action("Products", "Pet", new {id = pet.CategoryPetId})" class="">AGE: @pet.Age years</a>
                            <p class="price">$@pet.Price</p>
                        </div>
                    </li>
                }
                
            </ul>
            <hr>
            <div class="pagination pagination-small pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
        <div class="span3 col">
            <div class="block">
                @Html.Action("ListCategory", "Pet")
                <br />
            </div>
            <div class="block">
                <h4 class="title">
                    <span class="pull-left"><span class="text">Other Products</span></span>
                    <span class="pull-right">
                        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                    </span>
                </h4>
                <div id="myCarousel" class="carousel slide">
                    @Html.Action("ListOtherProducts", "Pet")
                </div>
            </div>
        </div>
    </div>
</section>